In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter

In [2]:
df = pd.read_csv('data.csv')
df.head(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015

In [3]:
len(df)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
print(df[df.budget == df.budget.max()]['original_title'])


answer_ls.append('4.The Warrior\'s Way')

491    The Warrior's Way
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [6]:
print(df[df.runtime == df.runtime.max()].original_title)


answer_ls.append('2.Gods and Generals')

1158    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [7]:
print(df.query('runtime == runtime.min()')['original_title'])


answer_ls.append('3.Winnie the Pooh')

769    Winnie the Pooh
Name: original_title, dtype: object

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [8]:
print(df.runtime.mean())


answer_ls.append('2.110')

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [9]:
print(df.runtime.median())


answer_ls.append('1.106')

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [10]:
df['profit'] = df['revenue'] - df['budget'] # создание новой колонки - прибыльность фильма


print(df[df.profit == df.profit.max()]['original_title'])


answer_ls.append('5.Avatar')

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [11]:
print(df.query('profit == profit.min()')['original_title'])


answer_ls.append('2.The Warrior\'s Way')

491    The Warrior's Way
Name: original_title, dtype: object

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [12]:
print(df.original_title[df.profit > 0].count())


answer_ls.append('1.1478')

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [13]:
best2008 = df[df.release_year == 2008].profit.max() # максимальная прибыль 2008 года введена в переменную

print(df[df.profit == best2008]['original_title'])


answer_ls.append('4.The Dark Knight')

600    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [14]:
worst = df.query('2014 >= release_year >=2012').profit.min() ## минимальная прибыль 2012-2014 г. введена в переменную

print(df[df.profit == worst].original_title)


answer_ls.append('5.The Lone Ranger')

1246    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [15]:
# функция, группирующая значения выбранного столбца и выдающая количество этих значений

def group_counter(column):
    cnt = Counter() # счетчик из библиотеки collections
    for row in column.apply(lambda x: x.split('|')): # функция, записывающая все разделенные элементы строки в список
        for element in row:
            cnt[element] += 1
    return cnt

In [16]:
print(group_counter(df.genres).most_common(1))


answer_ls.append('3.Drama')

[('Drama', 782)]

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [17]:
profit_df = df[df.profit>0] # данные только прибыльных фильмов

print(group_counter(profit_df.genres).most_common(1))


answer_ls.append('1.Drama')

[('Drama', 560)]

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [18]:
print(group_counter(df.director).most_common(1))


answer_ls.append('3.Steven Soderbergh')

[('Steven Soderbergh', 13)]

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [19]:
print(group_counter(profit_df.director).most_common(1))


answer_ls.append('4.Ridley Scott')

[('Ridley Scott', 12)]

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [20]:
# # функция, группирующая значения выбранного столбца и выдающая сумму прибыли(колонка profit) этих значений (только из данных df)

def group_profit(column):
    cnt = Counter()
    for index,row in enumerate(column.apply(lambda x:x.split('|'))):
        for element in row:
            cnt[element] += df.iloc[index]['profit']
    return cnt

In [21]:
print(group_profit(df.director).most_common(1))


answer_ls.append('5.Peter Jackson')

[('Peter Jackson', 5202593685)]

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [22]:
print(group_profit(df.cast).most_common(1))


answer_ls.append('1.Emma Watson')

[('Emma Watson', 6666245597)]

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [23]:
df_2012 = df[df.release_year == 2012] # данные исключительно за 2012 год

cnt = Counter()
for index,row in enumerate(df_2012.cast.str.split('|')):
    for element in row:
        cnt[element] += df_2012.iloc[index]['profit']
print(cnt.most_common()[-1])


answer_ls.append('3.Kirsten Dunst')

('Kirsten Dunst', -68109207)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [24]:
df_topbudget = df[df.budget > df.budget.mean()] # данные, где в фильмах бюджет выше среднего по данной выборке

print(group_counter(df_topbudget.cast).most_common(1))


answer_ls.append('3.Matt Damon')

[('Matt Damon', 18)]

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [25]:
df_cage = df[df.cast.str.contains('Nicolas Cage')] # фильмы только с Николаем Клеткиным (nicolas cage)

print(group_counter(df_cage.genres).most_common(1))

answer_ls.append('2.Action')

[('Action', 17)]

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [26]:
print(group_counter(df.production_companies).most_common(1))


answer_ls.append('1.Universal Pictures')

[('Universal Pictures', 173)]

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [27]:
df_2015 = df[df.release_year == 2015]

print(group_counter(df_2015.production_companies).most_common(1))


answer_ls.append('4.Warner Bros.')

[('Warner Bros.', 12)]

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [28]:
df_comedy = df[df.genres.str.contains('Comedy')]

cnt = Counter()
for index,row in enumerate(df_comedy.production_companies.str.split('|')):
    for element in row:
        cnt[element] += df_comedy.iloc[index]['profit']
print(cnt.most_common(1))


answer_ls.append('2.Universal Pictures')

[('Universal Pictures', 8961545581)]

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [29]:
cnt = Counter()

for index,row in enumerate(df_2012.production_companies.str.split('|')):
    for element in row:
        cnt[element] += df_2012.iloc[index]['profit']
print(cnt.most_common(1)) 


answer_ls.append('3.Columbia Pictures')

[('Columbia Pictures', 2501406608)]

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [30]:
df_par = df[df.production_companies.str.contains('Paramount')]

cnt = Counter()

for index,row in enumerate(df_par.original_title.str.split('|')):
    for element in row:
        cnt[element] += df_par.iloc[index]['profit']
print(cnt.most_common()[-1])

answer_ls.append('1.K-19: The Widowmaker')

('K-19: The Widowmaker', -64831034)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [31]:
print(df.groupby('release_year').profit.sum().sort_values(ascending = False).head(1))


answer_ls.append('5.2015')

release_year
2015    18668572378
Name: profit, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [32]:
df_warner = df[df.production_companies.str.contains('Warner Bros')]

print(df_warner.groupby('release_year').profit.sum().sort_values(ascending = False).head(1))

answer_ls.append('1.2014')

release_year
2014    2295464519
Name: profit, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [33]:
df['release_date'] = pd.to_datetime(df['release_date']) # конвертация даты выхода кино в специальный формат, для дальнейших манипуляций

month = df.release_date.dt.month # извлекаем из даты только месяц

print(df.groupby(month).imdb_id.count().sort_values(ascending=False).head(1))


answer_ls.append('4.Сентябрь')

release_date
9    227
Name: imdb_id, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [34]:
print(df.groupby(month).imdb_id.count()[5:8].sum())


answer_ls.append('2.450')

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [35]:
df_winter = df.query('release_date.dt.month == 12 | release_date.dt.month == 1 | release_date.dt.month ==2')

print(group_counter(df_winter.director).most_common(1))

answer_ls.append('5.Peter Jackson')

[('Peter Jackson', 7)]

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [36]:
# извлекаем из даты только месяц
month = df.release_date.dt.month

# новая таблица, где столбцы - год производства, строки - месяцы, значения - суммарная прибыль 
df_month_profit = df.pivot_table(values='profit',index = month, columns = 'release_year',aggfunc=sum)


# узнаю максимальную прибыль каждой колонки(года) - самый прибыльный месяц и записываю это значение как индекс(номер месяца) в новый список   
best_months = []
for column in df_month_profit:
    best_months.append(df_month_profit[df_month_profit[column] == df_month_profit[column].max()].index[0])

# с помощью Counter from collections узнаю какой месяц чаще всего был самым прибыльным    
print(Counter(best_months).most_common(1))


answer_ls.append('2.Июнь')

[(6, 7)]

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [37]:
# функция, группирующая значения колонки данных и выводящая кол-во группированных значений

def new_counter(data, column):
    one_line = data[column].str.cat(sep='|')
    separated = pd.Series(one_line.split('|'))
    grouped = separated.value_counts().sort_values(ascending = False)
    return grouped

In [38]:
# новая колонка, обозначающая длину символов оригинального названия фильма

df['title_length'] = df['original_title'].apply(lambda x:len(x))

In [39]:
companies = new_counter(df,'production_companies')

for company in companies.index:
    companies[company] = df['title_length'][df['production_companies'].map(lambda x: True if company in x else False)].mean()
    
print(companies.sort_values(ascending = False).head(1))


answer_ls.append('5.Four By Two Productions')

Four By Two Productions    83
dtype: int64

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [40]:
df['words_in_title'] = df['original_title'].apply(lambda x: len(x.split())) # новая колонка с кол-ом слов в названии фильма


companies = new_counter(df, 'production_companies')


for company in companies.index:
    companies[company] = df['words_in_title'][df['production_companies'].map(lambda x: True if company in x else False)].mean()

print(companies.sort_values(ascending = False).head(1))


answer_ls.append('5.Four By Two Productions')

Four By Two Productions    12
dtype: int64

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [41]:
words = []
for line in df.original_title.str.split():
    for word in line:
        words.append(word.lower())

print(pd.Series(words).nunique())

answer_ls.append('3.2461')

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [42]:
movies = ['Inside Out', 'Gone Girl', '12 Years a Slave,BloodRayne', 'The Adventures of Rocky & Bullwinkle','The Lord of the Rings: The Return of the King','300', 'Lucky Number Slevin']
data = pd.DataFrame(columns = ['original_title','vote_average'])

for movie in movies:
    for movie1 in df.original_title:
        if movie in movie1:
            temp = df[df.original_title == movie1][['original_title','vote_average']]
            data = pd.concat([data,temp])
            
display(data.sort_values(by='vote_average',ascending = False))


answer_ls.append('1.Inside Out, Gone Girl, 12 Years a Slave')

                                     original_title  vote_average
9                                        Inside Out           8.0
128                                       Gone Girl           7.9
1082  The Lord of the Rings: The Return of the King           7.9
1457                            Lucky Number Slevin           7.3
1683                                            300           7.0
160                          300: Rise of an Empire           6.1
571                         3000 Miles to Graceland           5.4
1663                                       Mr. 3000           5.1
1887           The Adventures of Rocky & Bullwinkle           4.0

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [43]:
print(len(df[(df.cast.str.contains('Johnny Depp')) & (df.cast.str.contains('Helena Bonham Carter'))]))
print(len(df[(df.cast.str.contains('Hugh Jackman')) & (df.cast.str.contains('Ian McKellen'))]))
print(len(df[(df.cast.str.contains('Vin Diesel')) & (df.cast.str.contains('Paul Walker'))]))
print(len(df[(df.cast.str.contains('Adam Sandler')) & (df.cast.str.contains('Kevin James'))]))
print(len(df[(df.cast.str.contains('Daniel Radcliffe')) & (df.cast.str.contains('Rupert Grint'))]))


answer_ls.append('5.Daniel Radcliffe & Rupert Grint')

6
5
5
5
8

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [44]:
directors = new_counter(df, 'director')
dic = {}

for director in directors.index:
    pos = 0 # прибыльный фильм
    neg = 0 # убыточный фильм
    for index,row in enumerate(df.director.str.split('|')):
        if director in row:
            if df.loc[index]['profit'] > 0:
                pos += 1
            elif df.loc[index]['profit'] < 0:
                neg += 1
    dic[director] = [pos,neg] # словарь где ключ - режиссер, значения - кол-во прибыльных и убыточных фильмов
    
    
profitable_director = pd.DataFrame(dic).transpose()
profitable_director.columns = ['profit_movies','loss_movies']
profitable_director['total_movies'] = profitable_director['profit_movies'] + profitable_director['loss_movies']
profitable_director['profit_to_total'] = (profitable_director['profit_movies'] / profitable_director['total_movies'])*100
profitable_director.sort_values(by = ['profit_to_total','profit_movies'], ascending = False).head(10)

                   profit_movies  loss_movies  total_movies  profit_to_total
Ridley Scott                  12            0            12            100.0
Steven Spielberg              10            0            10            100.0
Tim Burton                     9            0             9            100.0
Michael Bay                    8            0             8            100.0
Brett Ratner                   8            0             8            100.0
Antoine Fuqua                  8            0             8            100.0
Peter Jackson                  8            0             8            100.0
Christopher Nolan              8            0             8            100.0
Zack Snyder                    6            0             6            100.0
Joel Coen                      6            0             6            100.0

In [45]:
print(profitable_director.loc[['Quentin Tarantino','Steven Soderbergh','Robert Rodriguez','Christopher Nolan','Clint Eastwood']])


answer_ls.append('4.Christopher Nolan')

# просто смотрю, что вы предлагаете в качестве ответов, 100 прибыльных фильмов из предложенных ответов у кристофера нолана.

                   profit_movies  loss_movies  total_movies  profit_to_total
Quentin Tarantino              6            1             7        85.714286
Steven Soderbergh             10            3            13        76.923077
Robert Rodriguez               8            3            11        72.727273
Christopher Nolan              8            0             8       100.000000
Clint Eastwood                10            2            12        83.333333

# Submission

In [46]:
len(answer_ls)

36

In [47]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id                                     Answer
0    1                        4.The Warrior's Way
1    2                        2.Gods and Generals
2    3                          3.Winnie the Pooh
3    4                                      2.110
4    5                                      1.106
5    6                                   5.Avatar
6    7                        2.The Warrior's Way
7    8                                     1.1478
8    9                          4.The Dark Knight
9   10                          5.The Lone Ranger
10  11                                    3.Drama
11  12                                    1.Drama
12  13                        3.Steven Soderbergh
13  14                             4.Ridley Scott
14  15                            5.Peter Jackson
15  16                              1.Emma Watson
16  17                            3.Kirsten Dunst
17  18                               3.Matt Damon
18  19                                   2.Action
19  20                       1.Universal Pictures
20  21                             4.Warner Bros.
21  22                       2.Universal Pictures
22  23                        3.Columbia Pictures
23  24                     1.K-19: The Widowmaker
24  25                                     5.2015
25  26                                     1.2014
26  27                                 4.Сентябрь
27  28                                      2.450
28  29                            5.Peter Jackson
29  30                                     2.Июнь
30  31                  5.Four By Two Productions
31  32                  5.Four By Two Productions
32  33                                     3.2461
33  34  1.Inside Out, Gone Girl, 12 Years a Slave
34  35          5.Daniel Radcliffe & Rupert Grint
35  36                        4.Christopher Nolan